@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

* {  /* Esto es para quitarle el defaut de los navegadores */
    /*Estandarizar */
    margin: 0;
    padding: 0; /*Margen interno*/
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color:   #d195f4;
    
}

.navbar{    
    width: 98%;
    height: 50px;
    background-color:  white;
    margin: 20px 15px 20px 15px;
    border-radius: 50px;
    padding: 12px;
}

.main-title{
    display: inline;
    margin-left: 20px;
    margin-right: 70px;
    font-weight: 900;  /*que tan negrita es la letra*/
}
.mini-title{
    top: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;  /*que tan negrita es la letra*/
    font-size: 16px;  /*Tamano de la letra*/
    display: inline;
    margin: 65px 45px; 
    padding: 40px 0px;

}

.hero-frame{
    background-color: rgb(196, 181, 210);
    display: flex;
    width: 97%;
    height: 100%;
    margin: 30px 15px 20px 20px;
    overflow: hidden;
    box-shadow: 0 0 0 10px rgb(64, 91, 189), 0 15px 70px;
    position: relative;
}

.slider{
    display: flex;
    width: 300%;
    height: 300%;
}

.section-slider{
    width: 100%;
}

.pasar-imagen{
    display: block;
    width: 100%;
    height: 100%;
}




.Experience{
    margin: 0px 12px 10px 13px;
    width: 97%;
    height: 400px;
    display: flex;
}
.sub-title{
    text-align: center;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    line-height: 150%

}
.proyectos{
    width: 20%;
    height: 350px;
    border-radius: 2%;
    background-color: rgb(123, 123, 243);
    margin: 15px 50px;
    flex: 50%;
}

.imagen-proyecto{
    width: 90%;
    height: 45%;
    justify-content: center;
    margin: 13px;
}

.letra-experience{
    width: 90%;
    height: 30%;
    justify-content: center;
    margin-left: 24px;
    line-height: 150%;
    font-weight: 400;  /*que tan negrita es la letra*/
    font-size: 16px;  /*Tamano de la letra*/
}


.about-me{
    margin: 0px 12px 20px 13px;
    width: 97%;
    height: 275px;
    display: flex;
    
    background-color: rgba(183, 196, 102, 0.566);
    border-radius: 10px;
}

.prefoto{
    width: 400px;
    height: 250px;
}

.myphoto{
    width: 200px;
    height: 90%;
    justify-content: center;
    margin: 13px;
}

.parrafo-about-me{
    justify-content: center;
    margin: 20px 20px;
    width: 130%;
    height: 90%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  /*que tan negrita es la letra*/
    font-size: 16px;  /*Tamano de la letra*/
    line-height: 140%;
    text-align: justify;

}

.contac-me{
    margin: 10px 12px;
    width: 97%;
    height: 270px;
    display: flex;
    background-color: rgba(95, 234, 95, 0.566);
    border-radius: 10px;
}
.info-contacto{
    width: 400px;
    height: 200px;
    margin-top: 20px;
    margin-left: 100px;
}
.comentario-final{
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  /*que tan negrita es la letra*/
    font-size: 16px;  /*Tamano de la letra*/
    line-height: 140%;
    text-align: justify;
}
.arreglo{
    display: flex;
}
.data{
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;  /*que tan negrita es la letra*/
    font-size: 16px;  /*Tamano de la letra*/
    line-height: 140%;  
}

.form{
    margin-left: 50px;
    margin-top: 20px;
    width: 250px;
}
.campo{
    display: block;
    width: 150%;
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 110px;
    color: blueviolet;
    border-color: transparent;
}
.campo::placeholder{
    color: grey;
    font-family: 'Inter', sans-serif;
    font-weight: 500;  
}

.boton-enviar{
    padding: 5px 10px;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 240px;
    border-color: transparent;
    background-color: rgb(161, 208, 208);
}

/*phone*/
@media (max-width: 820px) {
    .navbar{
        background: white;
        width: 90%;
        height: 85px;
        margin: 20px 13px 20px 12px;
    }
    .main-title{
        margin-left: 20px;
        margin-right: 10px;
        padding-right: 19px;
        line-height: 170%;
      
    }
    .mini-title{
        font-family: 'Inter', sans-serif;
        font-weight: 600;  /*que tan negrita es la letra*/
        font-size: 16px;  /*Tamano de la letra*/
        margin: 10px; 
        line-height: 200%;
    }
   


    .Experience{
        margin: 0px 12px 0px 13px;
        width: 400%;
        height: 1100px;
        display: block;
    }

    .imagen-proyecto{
        padding-left: 13px;
        text-align: center;
    }
    
    .letra-experience{
        margin-left: 30px 24px;
        padding-left: 10px;
 
    }


    .about-me{
        width: 95%;
        height: 420px;
        display: block;
    }
    
    .prefoto{
        width: 200px;
        height: 170px;
       padding-left: 50px;
    }
    
    .myphoto{
        padding-left: 50px;
        margin-left: 30px;
    }
    
    .parrafo-about-me{
        margin: 10px 20px ;
        width: 90%;
        font-size: 12px;  /*Tamano de la letra*/
    }

    .contac-me{
        margin: 10px 12px;
        width: 95%;
        height: 500px;
        display: block;
    }
    .info-contacto{
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .comentario-final{
        margin: 10px;
        padding-top: 20px;
        width: 379px;
    }
    .form{
        margin-left: 10px;
        margin-top: 10px;
        padding-top: 10px;
        width: 250px;
    }
    .campo{
        display: block;
        width: 150%;
        padding: 15px 10px;
        font-size: 15px;
        border-radius: 4px;
        margin-bottom: 20px;
        margin-left: 10px;
        color: blueviolet;
        border-color: transparent;
    }

    .boton-enviar{
        margin-left: 140px;
    }
}